html {
	background: #fa7900;
}

body {
	font: normal normal normal 16px/20px 
		'HelveticaNeue-Light', 
		'Helvetica Neue Light', 
		'Helvetica Neue', 
		'Helvetica', 
		'Arial', 
		'Lucida Grande', 
		sans-serif;

	max-width: 1000px;
	margin: 10px auto;
	padding: 10px 50px;

	border-top: 20px solid #000;
	box-shadow: 0 0 12px rgba(0,0,0, 0.2);
	background: #fff url(img/background.png) center bottom no-repeat;
}

h1, h3, p, ul {
	margin: 20px 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

ul ul {
	padding-left: 20px;
}

h1 {
    color: #f90;
	font-size: 36px;
	line-height: 40px;
	font-weight: bold;
}

footer {
	margin-top: 40px;
	text-align: center;
}

footer p {
	margin-bottom: 0;
}


.outline {
	text-shadow: 0.05em 0.00em #444, 0.00em  0.05em #444,
                -0.05em 0.00em #444, 0.00em -0.05em #444;
}

.center {
	text-align: center;
}


#search-form {
	margin: 10px -10px 0;
	padding: 10px;

	border: 2px solid gray;
	border-radius: 8px;

	background-color: #f90;
	color: #fff;
    font-size: 20px;
}

#search-form label {
	vertical-align: baseline;
}

#search-form input {
	padding: 4px;
}

#search-form .loader {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -7px 0;
}

#search-form.working .loader {
	background: url(img/loader-orange.gif) center no-repeat;
}


a {
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

#tree .working > a:first-of-type {
	color: #888;
}

#tree .working > a:first-of-type:after {
	content: ' ';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	vertical-align: middle;

	background: url(img/loader-song.gif) center no-repeat;
}

#tree a.play {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	vertical-align: middle;

	background: url(img/play.png) center no-repeat;
}

#tree a.play:hover {
	background-image: url(img/play-hover.png);
}

#tree li > ul {
	margin: 0;
	border-left: 7px solid #eaeaea;
	padding-left: 33px;
}